body {
  background-image: url("/images/images/background.jpg");
  background-size: cover;
  background-position: center -100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
    background-color: rgba(153, 102, 255, 0.3);
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 10px;
     border: 5px;
     border-radius: 25px;
}

.header-text {
 justify-content: start;
  font-style: normal;
  font-style: italic;
  font-style: oblique;
  font-style: oblique 10deg;
  font-weight: bold;
  font-size: 18px;
  color: #8b008b;
  margin-bottom: 10px;
  text-shadow: -0.2px -0.2px 0 #000, 0.2px -0.2px 0 #000, -0.2px 0.2px 0 #000,
    0.2px 0.2px 0 #000;
}

.header-text p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.form-nav-list {
    display: flex;

}

.nav-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.nav-list li {
    display: flex;
}

.AutoRenewText {
 justify-content: start;
  font-style: normal;
  font-style: italic;
  font-style: oblique;
  font-style: oblique 10deg;
  font-size: 21px;
  color: #8b008b;
  width: 230px;
    margin-left: 30px;
    margin-right: 20px;
     text-align: center;

}
.AutoRenewText p{
  margin: 5px;
  font-weight: bold;
}

.auto-renew-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.radio-spacing {
    width: 10px;
}
input[name="Auto-renew"] {
    display: none;
}
input[name="Auto-renew"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}
input[name="Auto-renew"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #8b008b;
    background-color: transparent;
    transition: background-color 0.2s;
}
input[name="Auto-renew"]:checked + label::before {
    background-color: #8b008b;
}

.button-nav-list {
    background-color: #8b008b;
    justify-content: start;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    margin: 5px;
    font-size: 16px;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
      box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.9);
}

.button-nav-list-exit {
    background-color: #8b008b;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    justify-content: end;
    cursor: pointer;
    border-radius: 25px;
    margin: 5px;
    font-size: 16px;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.9);
    position: fixed;
    right: 50px;
}

.button-nav-list:hover,
.button-nav-list-exit:hover,
.submenu-all-subscriptions-button:hover,
.update-user-data-button:hover,
.update-bank-card-button:hover,
.log-out-button:hover{
  background-color: #8a2be2;
  transform: scale(1.1,1.1);
}

.button-nav-list:active,
.button-nav-list-exit:active,
.submenu-all-subscriptions-button:active,
.update-user-data-button:active,
.update-bank-card-button:active,
.log-out-button:active{
  background-color: #6a1b9a;
  transform: scale(0.95, 0.95);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.submenu-all-subscriptions-item {
    color: #8b008b;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
      align-items: center;
    gap: 5px;
}


.submenu-all-subscriptions-name {
font-size: 18px;
  margin: 0;
}

.submenu-all-subscriptions-button {
  background-color: #8b008b;
  color: white;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 16px;
  width: 100px;
  height: 30px;
  box-sizing: border-box;
  box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.9);
}

.subscription-container {
  position: relative;
  width: 200px;
  text-align: center;
}

.subscription-list {
  position: absolute;
  top: 120%;
  width: 200px;
  background-color: #e6e6fa;
  color: #8b008b;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.9);
  text-align: center;
    z-index: 1;
}


.personal-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 200px;
  text-align: center;
}

.form-change-personal-data {
  position: absolute;
  top: 120%;
  display: none;
  border: 1px solid #ccc;
  width: 550px;
  height: auto;
  box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.9);
  text-align: center;
  background-color: #e6e6fa;
  border-radius: 25px;
   button {
      display: block;
      margin: 10px auto;
    }
}

.form-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.user-details-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.user-details-row p {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    color: #8b008b;
    margin: 0;
    text-shadow: -0.2px -0.2px 0 #000, 0.2px -0.2px 0 #000, -0.2px 0.2px 0 #000, 0.2px 0.2px 0 #000;
}

.input-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-personal-data {
    width: 190px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.9);
}

.update-user-data-button {
    background-color: #8b008b;
    color: white;
    padding: 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.9);
}

.input-bank-personal-data {
  width: 185px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.9);
}

.input-bank-card-expiration-data {
  width: 90px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.9);
}

.input-bank-card-cvv {
  width: 70px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.9);
}

.bank-card-group {
    position: absolute;
    right: 120px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.input-button-container{
padding:0;
margin:0;
}

.delete-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
        color: #FF0000;
    font-weight: bold;
    margin-bottom: 5px;
}

.delete-account p {
    font-style: italic;
    margin: 0;
    text-shadow: -0.2px -0.2px 0 #000, 0.2px -0.2px 0 #000, -0.2px 0.2px 0 #000, 0.2px 0.2px 0 #000;
}

.delete-account-button {
    background-color: #FF0000;
    color: white;
    padding: 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.9);
}

.delete-account-button:hover{
  background-color: #FF6600;
  transform: scale(1.1,1.1);
}

.update-bank-card-button {
    background-color: #8b008b;
    color: white;
    padding: 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.9);
}


.display-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

.display-message.success {
  color: green;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.display-message.error {
  color: red;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}



.submenu-personal-data-error {
  width: 250px;
  height: 100px;
}

.display-error-message-for-personal-data-update {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  color: #ff0000 !important;
}

.display-message-for-personal-data-update {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  color: #008000 !important;
}

.log-out{
 position: absolute;
  top: 120%;
  right: 30px;
  width: 120px;
  height: auto;
  background-color: #e6e6fa;
  color: #8b008b;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.9);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-out p{
font-size: 18px !important;
margin:5;
padding:0;
}

.log-out-button {
    background-color: #8b008b;
    color: white;
    padding: 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.9);
}




@media screen and (max-width: 1270px) {
    .header {
         background-color: rgba(153, 102, 255, 0.0);
        margin: 0;
        padding: 0;
        border: 5px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        height: 500px;
    }

    .header-text {
      font-style: normal;
      font-style: italic;
      font-style: oblique;
      font-style: oblique 10deg;
      font-weight: bold;
      font-size: 27px;
      color: #8b008b;
      margin-bottom: 10px;
      text-shadow: -1.3px -1.3px 0 #FFFFFF,
                   1.3px -1.3px 0 #FFFFFF,
                   -1.3px 1.3px 0 #FFFFFF,
                   1.3px 1.3px 0 #FFFFFF;

    }

    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-list li {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .header-text,
    .AutoRenewText,
    .subscription-container,
    .personal-data-container,
    .log-out-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .AutoRenewText {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        font-style: oblique;
        font-size: 21px;
        color: #8b008b;
        width: 230px;
        margin: 0;
        text-align: center;
         text-shadow: -1.3px -1.3px 0 #FFFFFF,
                           1.3px -1.3px 0 #FFFFFF,
                           -1.3px 1.3px 0 #FFFFFF,
                           1.3px 1.3px 0 #FFFFFF;
    }

    .AutoRenewText p {
        margin: 5px;
        font-weight: bold;
    }

    .auto-renew-options {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .radio-spacing {
        width: 10px;
    }

    input[name="Auto-renew"] {
        display: none;
    }

    input[name="Auto-renew"] + label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
    }

    input[name="Auto-renew"] + label::before {
        content: '';
        position: absolute;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #8b008b;
        background-color: transparent;
        transition: background-color 0.2s;
         box-shadow: -1.3px -1.3px 0 #FFFFFF,
                           1.3px -1.3px 0 #FFFFFF,
                           -1.3px 1.3px 0 #FFFFFF,
                           1.3px 1.3px 0 #FFFFFF;
    }

    input[name="Auto-renew"]:checked + label::before {
        background-color: #8b008b;
    }

     .log-out-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin: 0 auto;
            width: 100%;
        }

        .button-nav-list-exit {
            position: static;
            margin: 0 auto;
        }

        .log-out {
            position: static;
            margin: 0 auto;
            width: auto;
        }
}

@media screen and (max-width: 580px){
  body {
   background-image: url("/images/images/background.jpg");
    background-size: cover;
    background-position: -450px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
.header {
         background-color: rgba(153, 102, 255, 0.0);
        margin: 0;
        padding: 0;
        border: 5px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        height: 500px;
    }

    .header-text {
      font-style: normal;
      font-style: italic;
      font-style: oblique;
      font-style: oblique 10deg;
      font-weight: bold;
      font-size: 27px;
      color: #8b008b;
      margin-bottom: 10px;
      text-shadow: -1.3px -1.3px 0 #FFFFFF,
                   1.3px -1.3px 0 #FFFFFF,
                   -1.3px 1.3px 0 #FFFFFF,
                   1.3px 1.3px 0 #FFFFFF;

    }

    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-list li {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .header-text,
    .AutoRenewText,
    .subscription-container,
    .personal-data-container,
    .log-out-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .AutoRenewText {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        font-style: oblique;
        font-size: 21px;
        color: #8b008b;
        width: 230px;
        margin: 0;
        text-align: center;
         text-shadow: -1.3px -1.3px 0 #FFFFFF,
                           1.3px -1.3px 0 #FFFFFF,
                           -1.3px 1.3px 0 #FFFFFF,
                           1.3px 1.3px 0 #FFFFFF;
    }

    .AutoRenewText p {
        margin: 5px;
        font-weight: bold;
    }

    .auto-renew-options {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .radio-spacing {
        width: 10px;
    }

    input[name="Auto-renew"] {
        display: none;
    }

    input[name="Auto-renew"] + label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
    }

    input[name="Auto-renew"] + label::before {
        content: '';
        position: absolute;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #8b008b;
        background-color: transparent;
        transition: background-color 0.2s;
         box-shadow: -1.3px -1.3px 0 #FFFFFF,
                           1.3px -1.3px 0 #FFFFFF,
                           -1.3px 1.3px 0 #FFFFFF,
                           1.3px 1.3px 0 #FFFFFF;
    }

    input[name="Auto-renew"]:checked + label::before {
        background-color: #8b008b;
    }

     .log-out-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin: 0 auto;
            width: 100%;
        }

        .button-nav-list-exit {
            position: static;
            margin: 0 auto;
        }

        .log-out {
            position: static;
            margin: 0 auto;
            width: auto;
        }

.form-change-personal-data {
  border: 1px solid #ccc;
  width: 350px;
  height: auto;
  box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.9);
  text-align: center;
  background-color: #e6e6fa;
  border-radius: 25px;
}

         .user-details-row .input-button-container {
            display: flex;
            flex-direction: column;
          }

}
