<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Free subscription</title>
    <link rel="stylesheet" type="text/css" href="/styles/css/free_subscription_music_page.css" />
</head>
<body>
<p class="header-text">Hello in free subscription</p>
<div class="header">
    <div class="nav-container">
        <div class="return-main-menu">
            <button id="MeinMenuButton" class="button-nav-list-main-menu">Main menu</button>
            <form id="MeinMenu" class="log-out" style="display: none;">
                <p>Are you sure?</p>
                <button class="log-out-button" onclick="MeinMenu(event)">Main menu</button>
            </form>
        </div>
        <div class="log-out-container">
            <button id="LogOutButton" class="button-nav-list-exit">Log out</button>
            <form id="logOut" class="log-out" style="display: none;">
                <p>Are you sure?</p>
                <button class="log-out-button" onclick="logOut(event)">Log out</button>
            </form>
        </div>
    </div>
</div>
<script src="/js/script/free_subscription_music_page.js"></script>
</body>
</html>