<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Host Page</title>
    <link rel="stylesheet" type="text/css" href="/styles/css/host_page.css" />
</head>
<body>
<div class="container">
    <div class="dropdown">
        <button id="loginButton">Login In</button>
        <div class="dropdown-content" id="loginFormContainer">
            <form id="loginForm" method="POST" action="/login">
                <label for="phoneNumber">Phone Number:</label>
                <input
                        placeholder="Enter your phone number"
                        type="text"
                        id="phoneNumber"
                        name="phoneNumber"
                        required />
                <label for="password">Password:</label>
                <input
                        placeholder="Enter your password"
                        type="password"
                        id="password"
                        name="password"
                        required />
                <button type="submit" class="submitButton">Login In</button>
            </form>
        </div>
    </div>
    <div class="dropdown">
        <button id="RegistrationButton">Registration</button>
        <div class="dropdown-content" id="RegistrationFormContainer">
            <form id="registrationForm" method="POST" action="/register">
                <label for="phoneNumberRegistration">Phone Number:</label>
                <input
                        placeholder="Enter your phone number"
                        type="text"
                        id="phoneNumberRegistration"
                        name="phoneNumber"
                        required />
                <label for="passwordRegistration">Password:</label>
                <input
                        placeholder="Enter your password"
                        type="password"
                        id="passwordRegistration"
                        name="password"
                        required />
                <label for="confirmPassword">Confirm Password:</label>
                <input
                        placeholder="Repeat your password"
                        type="password"
                        id="confirmPassword"
                        name="confirmPassword"
                        required />
                <label for="email">Email:</label>
                <input
                        placeholder="Enter your email"
                        type="text"
                        id="email"
                        name="email"
                        required />
                <label for="cardNumber">Card Number:</label>
                <input
                        placeholder="Enter your bank card number"
                        type="text"
                        id="cardNumber"
                        name="cardNumber"
                        required />
                <label for="cardExpirationDate">Card Expiration Date:</label>
                <input
                        placeholder="Enter your bank card expiration date"
                        type="text"
                        id="cardExpirationDate"
                        name="cardExpirationDate"
                        required />
                <label for="cvv">CVV:</label>
                <input
                        placeholder="Enter your bank card cvv"
                        type="text"
                        id="cvv"
                        name="cvv"
                        required />
                <button type="submit" class="submitButton">Register</button>
            </form>
        </div>
    </div>
    <div id="message" class="message"></div>
</div>

<script src="/js/script/host_page.js"></script>
</body>
</html>