<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal office</title>
    <link rel="stylesheet" type="text/css" href="/styles/css/personal_office.css" />
    <link rel="icon" href="ico/background.ico" type="image/x-icon">
</head>
<body>
<div class="header">
    <ul class="nav-list">
        <li>
            <div class="header-text">
                 <p>Your subscription: <span id="subscriptionDetails">Loading...</span> </p>
                 <p>Subscription expired: <span id="subscriptionExpiry">Loading...</span> </p>
           </div>
            <div class="AutoRenewText">
                <p>Auto-renew subscription</p>
                <input name="Auto-renew" id="YES" type="radio" onclick="changeUsersAutoRenewStatus('YES')" checked>
                <label for="YES">YES</label>
                <label>/</label>
                <input name="Auto-renew" id="NO" type="radio" onclick="changeUsersAutoRenewStatus('NO')">
                <label for="NO">NO</label>
            </div>
            <div class="Music-container">
                <button class="button-nav-list" onclick="navigateToMusic()">Listen music</button>
                <form id="findMusicPage" class="subscription-list" style="display: none;"></form>
            </div>
            <div class="subscription-container">
                <button id="SubscriptionButton" class="button-nav-list" type="button">Subscriptions</button>
                <form id="findAllSubmenu" class="subscription-list" style="display: none;"></form>
            </div>
            <div class="personal-data-container">
                <button id="PersonalDataButton" class="button-nav-list" >Personal data</button>
                <div class="form-nav-list">
                    <div id="changePersonalData" class="form-change-personal-data" style="display: none;">
                        <div class="user-details-row">
                            <p id="currentPhoneNumber">Phone: loading</p>
                            <div class="input-button-container">
                                <input id="newPhoneNumber" class="input-personal-data" placeholder="New phone number" type="number" required />
                                <button class="update-user-data-button" onclick="updateUsersPhoneNumber(event)">Update</button>
                            </div>
                        </div>
                        <div class="user-details-row">
                            <p id="userPassword">Password: hidden</p>
                            <div class="input-button-container">
                                <input id="currentPassword" class="input-personal-data" placeholder="Current password" type="text" required />
                                <input id="newPassword" class="input-personal-data" placeholder="New password" type="text" required />
                                <button class="update-user-data-button" onclick="updateUsersPassword(event)">Update</button>
                            </div>
                        </div>
                        <div class="user-details-row">
                            <p id="currentEmail">Email: loading</p>
                            <div class="input-button-container">
                                <input id="newEmail" class="input-personal-data" placeholder="New email" type="text" required />
                                <button class="update-user-data-button" onclick="updateUsersEmail(event)">Update</button>
                            </div>
                        </div>
                        <div class="user-details-row">
                            <p id="currentBankCardNumber">Bank card number: loading</p>
                            <div>
                                <input id="newBankCardNumber" class="input-bank-personal-data" placeholder="Bank card number" type="number" required>
                                <div class="bank-card-details">
                                    <input id="newBankCardExpirationDate" class="input-bank-card-expiration-data" placeholder="Expiration date" type="text" required>
                                    <input id="newBankCardCVV" class="input-bank-card-cvv" placeholder="CVV" type="number" required>
                                </div>
                            </div>
                            <button class="update-bank-card-button" onclick="updateUsersBankCard(event)">Update</button>
                        </div>
                        <div>
                                <a class="telegram_bot_link" href="https://t.me/musicStorageMessage_bot?start={{userPhoneNumber}}" target="_blank">
                                    Click to join the Telegram bot
                                </a>
                        </div>
                        <div class="delete-account">
                            <p id="deleteAccount">Delete account:</p>
                            <div class="input-button-container">
                                <input id="Password" class="input-personal-data" placeholder="Enter your password" type="text" required />
                                <button class="delete-account-button" onclick="deleteUserAccount(event)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="log-out-container">
                <button id="LogOutButton" class="button-nav-list-exit">Log out</button>
                <form id="logOut" class="log-out" style="display: none;">
                    <p>Are you sure?</p>
                    <button class="log-out-button" onclick="logOut(event)">Log out</button>
                </form>
            </div>
        </li>
    </ul>
</div>





<script src="/js/script/personal_office.js"></script>
</body>
</html>