<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal office</title>
    <link rel="stylesheet" type="text/css" href="/styles/css/personal_office.css" />
</head>
<body>
<div class="header">
    <ul class="nav-list">
        <li>
            <div class="header-text">
                 <p>Your subscription: <span id="subscriptionDetails">Loading...</span> </p>
                 <p>Subscription expired: <span id="subscriptionExpiry">Loading...</span> </p>
           </div>
            <div class="AutoRenewText">
                <p>Auto-renew subscription</p>
                <input name="Auto-renew" id="YES" type="radio" onclick="changeUsersAutoRenewStatus('YES')" checked>
                <label for="YES">YES</label>
                <label>/</label>
                <input name="Auto-renew" id="NO" type="radio" onclick="changeUsersAutoRenewStatus('NO')">
                <label for="NO">NO</label>
            </div>
            <button class="button-nav-list" onclick="showForm('manualFindUserByPhoneNumber')">Listen music</button>
            <button class="button-nav-list" type="button" onclick="submitFindSubscriptionsList()">Subscriptions</button>
            <button class="button-nav-list" onclick="showForm('changePersonalData')">Personal data</button>
            <button class="button-nav-list-exit" onclick="showForm('findUsersByEmail')">Exit</button>
            <div class="form-nav-list">
                <form id="findAllSubmenu" class="subscription-list" style="display: none;" onsubmit="submitFindSubscriptionsList()">
                    <div id="subscriptionList"></div>
                </form>
                <form id="changePersonalData" class="form-change-personal-data" style="display: none;" onsubmit="submitFindUserByBankCard(event)">
                    <div>
                        <div class="user-details-row">
                            <p>Phone: ${user.phoneNumber}</p>
                            <input id="newPhoneNumber" class="input-personal-data" placeholder="New phone number" type="number" required />
                            <button class="submenu-all-users-button" onclick="updateUsersPhoneNumber(event, '${user.phoneNumber}')"> Update </button>
                        </div>
                        <div class="user-details-row">
                            <p>Password: hidden</p>
                            <input id="currentPassword" class="input-personal-data" placeholder="Current password" type="text" required />
                            <input id="newPassword" class="input-personal-data" placeholder="New password" type="text" required />
                            <button class="submenu-all-users-button" onclick="updateUsersPassword(event, '${user.phoneNumber}')" > Update </button>
                        </div>
                        <div class="user-details-row">
                            <p>Email: ${user.email}</p>
                            <input id="newEmail" class="input-personal-data" placeholder="New email" type="text" required />
                            <button class="submenu-all-users-button" onclick="updateUsersEmail(event, '${user.phoneNumber}')" > Update </button>
                        </div>
                        <div class="user-details-row">
                            <p>Bank card number: ${user.userBankCard.cardNumber}</p>
                            <div class="bank-card-group">
                                <input id="newBankCardNumber" class="input-bank-personal-data" placeholder="Bank card number" type="number" required>
                                <div class="bank-card-details">
                                    <input id="newBankCardExpirationDate" class="input-bank-card-expiration-data" placeholder="Expiration date" type="text" required>
                                    <input id="newBankCardCVV" class="input-bank-card-cvv" placeholder="CVV" type="number" required>
                                </div>
                            </div>
                            <button class="submenu-all-users-button" onclick="updateUsersBankCard(event, '${user.phoneNumber}')">Update</button>
                        </div>
                        <div class="user-details-row">
                            <p>Delete user: </p>
                            <input id="Password" class="input-personal-data" placeholder="Enter your password" type="text" required />
                            <button class="submenu-all-users-button" onclick="deleteUserByPhoneNumber('${user.phoneNumber}')" > Delete </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</div>

<script src="/js/script/personal_office.js"></script>
</body>
</html>