<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="/styles/css/users.css" />
    <link rel="icon" href="ico/background.ico" type="image/x-icon">
</head>
<body>
<div class="header">
    <ul class="nav-list">
        <li>
            <button id="getAllUsers" class="button-nav-list" type="button" onclick="submitFindAllUsers()">Get all users</button>
            <button class="button-nav-list" onclick="showForm('manualFindUserByPhoneNumber')">Find by phone number</button>
            <button class="button-nav-list" onclick="showForm('findUserByBankCard')">Find by bank card</button>
            <button class="button-nav-list" type="button" onclick="submitFindSubscriptionsList()">Find by subscription</button>
            <button class="button-nav-list" onclick="showForm('findUsersByEmail')">Find by email</button>
            <button class="button-nav-list" onclick="showForm('findUsersById')">Find by Id</button>
            <button class="button-nav-list-delete-users" onclick="showForm('deleteAllUsers')">Delete all users</button>
            <button class="button-nav-list-main-menu" onclick="showForm('mainMenu')">Main menu</button>
            <div class="form-nav-list">
                <form id="manualFindUserByPhoneNumber" class="form-find-by-phone-number" style="display: none;" onsubmit="submitManualFindUserByPhoneNumber(event)">
                    <input id="userPhoneNumber" class="input-new-personal-data" placeholder="Enter phone number" type="number" required>
                    <button type="submit" class="update-button">Find</button>
                </form>
                <form id="findUserByBankCard" class="form-find-by-bank-card" style="display: none;" onsubmit="submitFindUserByBankCard(event)">
                    <input id="userBankCardNumber" class="input-new-personal-data" placeholder="Enter bank card number" type="number" required>
                    <button type="submit" class="update-button">Find</button>
                </form>
                <form id="findAllSubmenu" class="form-find-by-subscription" style="display: none;" onsubmit="submitFindSubscriptionsList()">
                    <div id="subscriptionList"></div>
                </form>
                <form id="findUsersByEmail" class="form-find-by-email" style="display: none;" onsubmit="submitFindUserByEmail(event)">
                    <input id="userEmail" class="input-new-personal-data" placeholder="Enter user's email" type="text" required>
                    <button type="submit" class="update-button">Find</button>
                </form>
                <form id="findUsersById" class="form-find-by-id" style="display: none;" onsubmit="submitFindUserById(event)">
                    <input id="userId" class="input-new-personal-data" placeholder="Enter user's id" type="number" required>
                    <button type="submit" class="update-button">Find</button>
                </form>
                <form id="deleteAllUsers" class="form-delete-all-users" style="display: none;" onsubmit="submitDeleteAllUser(event)">
                    <p class="delete-user-text">Are you sure? </p>
                    <button type="submit" class="update-button">Delete</button>
                </form>
                <form id="mainMenu" class="form-main-menu" style="display: none;" onsubmit="returnMainMenu(event)">
                    <p class="delete-user-text">Are you sure? </p>
                    <button type="submit" class="update-button">Return</button>
                </form>
            </div>
        </li>
    </ul>
</div>
<div id="usersContainer">
    <ul id="usersInfo"></ul>
    <div class="pagination-controls">
        <button class="pagination-button" id="prev-page" onclick="changePage(-1)" disabled>Previous</button>
        <span class="page-users-info" id="page-info">Page 1</span>
        <button class="pagination-button" id="next-page" onclick="changePage(1)">Next</button>
    </div>
</div>
<div id="userDetails" style="display: none;">
    <div id="usersPersonalDataContainer"></div>
    <div id="subscriptionInfo"></div>
</div>
<script src="js/script/users.js"></script>
</body>
</html>